# Build Folders
bin/
obj/
.vs/
Debug/
Release/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
packages/
!packages/repositories.config
project.nuget.cache

# Logs
*.log
logs/
temp/

# Configuration
appsettings*.json

# Environment files
.env
secrets.json
/InternSharp/obj/Debug/net8.0/staticwebassets.removed.txt
/.gitignore
/.gitignore
/InternSharp/obj/Debug/net8.0/InternSharp.AssemblyInfoInputs.cache
/InternSharp/obj/Debug/net8.0/InternSharp.AssemblyInfo.cs
/.gitignore
