bin/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

# Ignore package dependencies
packages/
!packages/repositories.config

# Ignore logs and temporary files
*.log
logs/
temp/

# Ignore configuration files
appsettings*.json

# Ignore environment variables
.env
secrets.json
/InternSharp/obj/Debug/net8.0/InternSharp.AssemblyInfo.cs
/InternSharp/obj/Debug/net8.0/InternSharp.AssemblyInfoInputs.cache
/InternSharp/obj/Debug/net8.0/InternSharp.assets.cache
/InternSharp/obj/Debug/net8.0/InternSharp.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
/.gitignore
