@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Sign up page  -->
  <div class="d-flex justify-content-center align-items-center pt-5">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
      <!-- <button class="btn mb-3 w-100">Sign up with Google</button> -->
        <h3> Sign Up To Become a Member </h3>
        <hr>
      <!-- <div class="separator">or</div> -->

      <form>
            <div class="row pt-3">
                <div class="col">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="John">
                </div>
                <div class="col">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Doe">
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="abc@example.com">
            </div>

            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Must be atleast 6 characters">
            </div>

        

        <button type="submit" class="btn btn_submit mt-3 w-100">Sign up</button>

        <small class="d-block text-center mt-4">
          By signing up, you agree to our <a href="#">Terms and Conditions</a>.
        </small>
        <div class="text-center mt-2">
          Already have an Account? <a href="#"  style="text-decoration:underline;">Login</a>
        </div>
      </form>
    </div>
  </div>